table{
    border-collapse: collapse;
}
tr:nth-child(even) td:nth-child(even){
    background-color: black;
}
tr:nth-child(odd) td:nth-child(odd){
    background-color: black;
}
tr,td{
    width: 20px;
    height:20px;
}
th{
    width: 20px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.464);
    
}
